<table>
  <tbody>
    <tr>
      <th>STR</th>
      <th>DEX</th>
      <th>CON</th>
      <th>INT</th>
      <th>WIS</th>
      <th>CHA</th>
    </tr>
    <tr>
      <td>{{ Strength }} ({{ StrengthModifier }})</td>
      <td>{{ Dexterity }} ({{ DexterityModifier }})</td>
      <td>{{ Constitution }} ({{ ConstitutionModifier }})</td>
      <td>{{ Intelligence }} ({{ IntelligenceModifier }})</td>
      <td>{{ Wisdom }} ({{ WisdomModifier }})</td>
      <td>{{ Charisma }} ({{ CharismaModifier }})</td>
    </tr>
  </tbody>
</table>
